
/* Reset */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.hero img {
  width: 100vw;    
  height: auto;     
  display: block;   
}

.site-header h1{
    margin: 0;
  background: rgb(255, 214, 239);
  color: hotpink;
  margin-top: 30px;
  margin-bottom: -20px;
  padding: 0px;
  font-size: 100px;
  font-family: "archivo-expanded", sans-serif;
font-weight: 900;
font-style: normal;
    text-align: center;
}

.site-header h2{
    margin: 0;
  background: white;
  color: hotpink;
  padding: 0px;
  font-size: 40px;
  font-family: "archivo-expanded", sans-serif;
  font-weight: 900;
font-style: normal;
    text-align: center;
}

img:not(.hero-bg) {
  transition: transform 250ms ease-out;
  transform-origin: center;
  will-change: transform;
}

img:not(.hero-bg):hover {
  transform: scale(1.15);
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.me {
  position: absolute;
  z-index: 2;
  
  width: 14%;
  height: auto;

  top: 35%;
  left: 30%;
}

.pomegranate {
    position: absolute;
    z-index: 2;
    
    width: 10%;
    height: auto;
    
    top: 83%;
    left: 30%;
}

.lotus {
    position: absolute;
    z-index: 2;
    
    width: 8%;
    height: auto;
    
    top: 80%;
    left: 38.5%;
}

.headphones {
    position: absolute;
    z-index: 2;
    
    width: 33%;
    height: auto;
    
    top: 65.5%;
    left: 28.5%;
}

.plane {
    position: absolute;
    z-index: 2;
    
    width: 9%;
    height: auto;
    
    top: 58.5%;
    left: 44.5%;
}

.orange {
    position: absolute;
    z-index: 2;
    
    width: 7%;
    height: auto;
    
    top: 43%;
    left: 43%;
}

.necklace {
    position: absolute;
    z-index: 2;
    
    width: 14%;
    height: auto;
    
    top: 32.5%;
    left: 46%;
}

.sonny {
    position: absolute;
    z-index: 2;
    
    width: 15%;
    height: auto;
    
    top: 102%;
    left: 44%;
}

.sticker {
    position: absolute;
    z-index: 2;
    
    width: 12%;
    height: auto;
    
    top: 115%;
    left: 51%;
}

.ladybug {
    position: absolute;
    rotate: 30deg;
    z-index: 2;
    
    width: 6.5%;
    height: auto;
    
    top: 100%;
    left: 56%;
}

.milo {
    position: absolute;
    z-index: 2;
    
    width: 18%;
    height: auto;
    
    top: 160%;
    left: 44.5%;
}

.poster2 {
    position: absolute;
    z-index: 2;
    
    width: 19%;
    height: auto;
    
    top: 215%;
    left: 22%
}

.strawberries {
    position: absolute;
    z-index: 2;
    
    width: 18%;
    height: auto;
    
    top: 193.5%;
    left: 33%;
}

.rodeo {
    position: absolute;
    z-index: 2;
    
    width: 16%;
    height: auto;
    
    top: 20%;
    left: 84%;

    rotate: 35deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
    
    
}

.stamp {
    position: absolute;
    z-index: 2;
    
    width: 15%;
    height: auto;
    
    top: 87%;
    left: 75%;
    rotate: 30deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5)); 
}

.mic-sticker {
    position: absolute;
    z-index: 2;
    
    width: 16%;
    height: auto;
    
    top: 48%;
    left: 82%;
    rotate: -10deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.lion-sticker {
    position: absolute;
    z-index: 2;
    
    width: 18%;
    height: auto;
    
    top: 110%;
    left: 83%;

    rotate: -25deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.sunglasses {
    position: absolute;
    z-index: 2;
    
    width: 30%;
    height: auto;
    
    top: 26%;
    left: -10%;

    rotate: 45deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.75));
}

.heart-sticker {
    position: absolute;
    z-index: 2;
    
    width: 15%;
    height: auto;
    
    top: 125%;
    left: 12%;

    rotate: -20deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.blue-sticker {
    position: absolute;
    z-index: 2;
    
    width: 15%;
    height: auto;
    
    top: 145%;
    left: 0%;

    rotate: 15deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.cassette {
    position: absolute;
    z-index: 2;
    
    width: 20%;
    height: auto;
    
    top: 190%;
    left: 10%;

    rotate: -15deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.fall {
    position: absolute;
    z-index: 2;
    
    width: 20%;
    height: auto;
    
    top: 220%;
    left: -5%;

    rotate: 30deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.y2k1 {
    position: absolute;
    z-index: 2;
    
    width: 18%;
    height: auto;
    
    top: 260%;
    left: 0%;

    rotate: -10deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}
.y2k2 {
    position: absolute;
    z-index: 2;
    
    width: 18%;
    height: auto;
    
    top: 268%;
    left: 7%;

    rotate: 15deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.pomegranate-print {
    position: absolute;
    z-index: 2;
    
    width: 25%;
    height: auto;
    
    top: 280%;
    left: 0%;

    rotate: 20deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.sun-sticker {
    position: absolute;
    z-index: 2;
    
    width: 20%;
    height: auto;
    
    top: 270%;
    left: 80%;

    rotate: -15deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.mic-sticker2 {
    position: absolute;
    z-index: 2;
    
    width: 17%;
    height: auto;
    
    top: 260%;
    left: 65%;

    rotate: 30deg;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}